.naslov{
  color: red;
}
#startImg{
  position: absolute;
  object-position: 50% 50%;
}

#cbutton{
  position: absolute;
  border:50px 50px ;
  height: 100%;
  width: 100%;
  
}

#uvrede{
 text-align: center;
}

.simg{
  height: 50px;
  width: 50px;
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: #FEEDCF;
  color: #B175FF;
}
